<div class="mat-elevation-z8">
  <table mat-table [dataSource]="dataSource" matSort matSortActive="id" matSortDisableClear matSortDirection="asc">

    <!-- Position Column -->
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef mat-sort-header disableClear> No. </th>
      <td mat-cell *matCellDef="let element"> {{element.id | number}} </td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="envName">
      <th mat-header-cell *matHeaderCellDef> Env Name </th>
      <td mat-cell *matCellDef="let element"> {{element.envName}} </td>
    </ng-container>

    <!-- Weight Column -->
    <ng-container matColumnDef="target">
      <th mat-header-cell *matHeaderCellDef> Target </th>
      <td mat-cell *matCellDef="let element"> {{element.target}} </td>
    </ng-container>

    <!-- Symbol Column -->
    <ng-container matColumnDef="startTime">
      <th mat-header-cell *matHeaderCellDef> Start Time </th>
      <td mat-cell *matCellDef="let element"> {{element.startTime}} </td>
    </ng-container>

    <ng-container matColumnDef="endTime">
      <th mat-header-cell *matHeaderCellDef> End Time </th>
      <td mat-cell *matCellDef="let element"> {{element.endTime}} </td>
    </ng-container>

    <ng-container matColumnDef="enabled">
      <th mat-header-cell *matHeaderCellDef> Enabled </th>
      <td mat-cell *matCellDef="let element"> {{element.enabled}} </td>
    </ng-container>

    <ng-container matColumnDef="creatorFullName">
      <th mat-header-cell *matHeaderCellDef> Created By </th>
      <td mat-cell *matCellDef="let element"> {{element.creatorFullName}} </td>
    </ng-container>

    <ng-container matColumnDef="createdAt">
      <th mat-header-cell *matHeaderCellDef> Created At </th>
      <td mat-cell *matCellDef="let element"> {{element.createdAt}} </td>
    </ng-container>

    <ng-container matColumnDef="updaterFullName">
      <th mat-header-cell *matHeaderCellDef> Last Modified By </th>
      <td mat-cell *matCellDef="let element"> {{element.updaterFullName}} </td>
    </ng-container>

    <ng-container matColumnDef="lastModifiedAt">
      <th mat-header-cell *matHeaderCellDef> Last Modified At </th>
      <td mat-cell *matCellDef="let element"> {{element.lastModifiedAt}} </td>
    </ng-container>

    <ng-container matColumnDef="reqIns">
      <th mat-header-cell *matHeaderCellDef> Submission Note </th>
      <td mat-cell *matCellDef="let element"> {{element.reqIns}} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

  <!-- <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator> -->
</div>