<div class="container">
  <div class="row">
    <div class="col s12 m9 l12">
      <div class="section">
        <div id="preview" class="col s12 m9 l12">
          <h4 class="header">Preview</h4>
          <p>
            <button type="button" class="btn waves-effect waves-light blue" (click)="rerender()">
              Rerender
            </button>
          </p>
          <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="row-border hover"></table>
        </div>
      </div>

    </div>
  </div>
</div>