<div>
    <!-- <p>
        https://www.npmjs.com/package/ng-pick-datetime
        https://danielykpan.github.io/date-time-picker/
        https://stackblitz.com/github/DanielYKPan/owl-examples/tree/date-time-picker?file=src%2Fapp%2Fvalidation%2Fvalidation.component.html
    </p> -->

    <label>
        Date Time:
        <input [min]="min" [max]="max" [owlDateTimeTrigger]="dt8" [owlDateTime]="dt8">
        <owl-date-time #dt8></owl-date-time>
      </label>
</div>
